@import 'variables';
@import 'navbar';
@import 'home';
@import 'modal';
@import 'swipper';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
    background-color: white;
    color: white;
    font-family: 'Nueva';
}

@font-face {
    font-family: 'Nueva';
    src: local('Nueva'),
    url('../fonts/NuevaStd-Regular.otf') format('opentype');
}
