@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
.navbar-container {
  padding: 20px 40px 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo {
  background-image: url(../images/logo-dev-copie.svg);
  background-repeat: no-repeat;
  height: 50px;
  width: 100px; }

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.navbar-links li {
  list-style: none;
  padding-right: 30px; }

.navbar-links a {
  color: #002139;
  font-family: 'Lato'; }

.navbar-links a:hover {
  text-decoration: none; }

.btn {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  width: 100%; }

.btn-2 {
  letter-spacing: 3px; }

.btn-2:hover,
.btn-2:active {
  letter-spacing: 3px; }

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 10px auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0; }

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #002139;
  transition: width 100ms ease-in-out;
  width: 100%; }

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 100%; }

/* Icon 1 */
.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.animated-icon1 span {
  background: #002139; }

.animated-icon2 span {
  background: #e3f2fd; }

.animated-icon3 span {
  background: #f3e5f5; }

.animated-icon1 span:nth-child(1) {
  top: 0px; }

.animated-icon1 span:nth-child(2) {
  top: 10px; }

.animated-icon1 span:nth-child(3) {
  top: 20px; }

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.menu-modal-nav {
  padding: 70px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  overflow: auto;
  z-index: 99; }
  .menu-modal-nav li > a {
    color: #002139;
    font-size: 35px; }

.banner-home {
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  padding: 0 40px; }

.banner-bg img {
  height: 700px;
  width: 100%; }

.banner-impact h1 {
  letter-spacing: 2px;
  font-size: 38px; }

.banner-text {
  color: #002139;
  display: flex;
  align-items: 14;
  flex-direction: column;
  justify-content: center; }

.banner-paragraphe {
  color: #51d3bd;
  font-family: 'Lato', sans-serif; }

.banner-call {
  margin-top: 60px; }
  .banner-call a {
    color: white;
    border: 2px solid #002139;
    padding: 15px 50px;
    background: #002139;
    box-shadow: 0px 0px 8px white;
    font-family: 'Lato', sans-serif;
    transition: 0.9s ease-in-out; }
    .banner-call a:hover {
      text-decoration: none;
      background-color: white;
      color: #002139; }

.services-container {
  color: #002139;
  padding: 20px 40px; }

.services-card {
  padding: 40px;
  min-height: 300px;
  position: relative; }
  .services-card img {
    height: 50px;
    margin-bottom: 20px; }

.services-text {
  padding: 20px;
  text-align: center; }
  .services-text h2 {
    font-size: 25px;
    padding: 20px O O;
    font-family: 'Lato', sans-serif; }
  .services-text p {
    margin: 0;
    padding: 20px; }
  .services-text img {
    position: absolute;
    top: 20px;
    right: 25px; }

.services-photo img {
  height: 300px; }

.img-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.bg-blue {
  background: #5193F4; }

.bg-vert {
  background: #53D2BC;
  color: white; }

.service-line {
  border: 1px solid #002139; }

.projets-container {
  padding: 20px 40px;
  height: auto; }

.projets-header h1 {
  color: #002139; }

.projets-card {
  padding: 15px;
  background: white;
  color: #002139;
  margin-bottom: 20px; }

.projet-image {
  height: 300px;
  width: 100%;
  background-position: center;
  background-size: cover;
  box-shadow: 1px 7px 8px #b5aeae;
  display: flex;
  justify-content: center;
  align-items: center; }

.projets-header-card h1 {
  font-size: 25px;
  margin: 0;
  font-family: 'Lato', sans-serif;
  padding: 30px;
  color: white;
  background-color: #002139;
  transition: 0.5s ease-in-out; }

.projets-header-card h1:hover {
  color: #002139;
  background: white;
  border: 2px solid #002139;
  letter-spacing: 2px; }

.modal-title {
  font-family: 'Lato', sans-serif;
  padding-left: 30px; }

.no-border {
  border: none; }

.visite-btn {
  display: flex;
  justify-content: center;
  align-items: center; }
  .visite-btn a {
    color: white;
    background-color: #002139;
    padding: 15px 30px;
    border: 2px solid #002139;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
    transition: 0.9s ease-in-out; }
  .visite-btn a:hover {
    text-decoration: none;
    color: #002139;
    background-color: white; }

.projets-photo {
  background-position: center;
  background-size: cover;
  height: 250px;
  margin: 30px; }

.projets-text {
  padding: 0 30px 0; }
  .projets-text h1 {
    font-size: 30px; }
  .projets-text span {
    font-size: 20px;
    color: #dab119; }
  .projets-text p {
    font-family: 'Lato', sans-serif; }

.close {
  color: #002139 !important;
  font-size: 40px; }

.contact-container {
  color: #002139;
  padding: 0 40px; }

.contact-info {
  padding: 50px; }
  .contact-info ul {
    padding: 0; }
  .contact-info ul > li {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    font-size: 20Px;
    font-family: 'Lato', sans-serif; }
  .contact-info li > img {
    height: 20px;
    padding-right: 20px; }
  .contact-info li > a {
    color: #002139; }
  .contact-info h1 {
    margin-bottom: 50px; }

.contact-form {
  padding: 50px; }
  .contact-form label {
    font-size: 20px;
    font-family: 'Lato', sans-serif; }
  .contact-form h1 {
    margin-bottom: 50px; }

input.contact-input {
  border: 2px solid #002139;
  width: 100%;
  margin-bottom: 30px;
  padding: 10px 30px; }

textarea.contact-input {
  border: 2px solid #002139;
  width: 100%;
  margin-bottom: 30px;
  padding: 15px 30px; }

.contact-form-btn {
  text-align: center; }
  .contact-form-btn button[type='submit'] {
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    font-family: 'Lato', sans-serif;
    width: 100%;
    background: #002139;
    border: 2px solid #002139;
    transition: 0.9s ease-in-out; }
  .contact-form-btn a:hover {
    color: #002139;
    background-color: #ffffff;
    text-decoration: none; }

.alert-warning {
  background-color: #002139 !important;
  color: white !important;
  font-family: 'Lato', sans-serif !important; }

.footer-container {
  height: auto;
  background-color: #002139;
  padding: 80px; }

.footer {
  align-items: center;
  height: auto;
  flex-wrap: wrap; }

.footer-presentation {
  width: 50%; }
  .footer-presentation p {
    font-family: 'Lato', sans-serif; }
  .footer-presentation span {
    color: #51d3bd; }

.footer-links {
  width: 30%; }
  .footer-links img {
    height: 100Px; }

.footer-copyright {
  background-color: black; }
  .footer-copyright h2 {
    font-size: 20px;
    padding: 15px 0;
    margin: 0; }

@media screen and (max-width: 650px) {
  .navbar-container {
    padding: 15px; }
  .banner-text {
    padding: 30px 0;
    order: 2; }
  .banner-bg img {
    height: 300px;
    order: 1; }
  .banner-paragraphe h4 {
    font-size: 20px; }
  .banner-home {
    padding: 0 15px; }
  .banner-call {
    text-align: center; }
  .banner-impact h1 {
    font-size: 38px; }
  .services-container {
    padding: 20px 0; }
  .services-card {
    padding: 40px 40px 0; }
  .services-text {
    padding: 10px 20px; }
  .projets-container {
    padding: 20px 0; }
  .projets-text {
    padding: 0; }
  .contact-container {
    padding: 0; }
  .contact-info {
    padding: 15px; }
  .contact-form {
    padding: 15px;
    order: 1; }
  .footer-container {
    padding: 20px; }
  .footer-presentation {
    width: 100%; }
  .footer-links {
    display: none; }
  .footer-copyright h2 {
    font-size: 14px; } }

.projet-modal-container {
  color: #002139;
  background-color: rgba(0, 33, 57, 0.6); }

body {
  background-color: white;
  color: white;
  font-family: 'Nueva'; }

@font-face {
  font-family: 'Nueva';
  src: local("Nueva"), url("../fonts/NuevaStd-Regular.otf") format("opentype"); }
