// Banner Style

.banner-home {

    
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 40px;
    
}

.banner-bg {
    
    img {
        height: 700px;
        width: 100%;
    }
}
.banner-impact h1 {
    letter-spacing: 2px;
    font-size: 38px;
}
.banner-text {
    color: $color-blue;
    display: flex;
    align-items: 14;
    flex-direction: column;
    justify-content: center;
}

.banner-paragraphe {
    color: #51d3bd;
    font-family: 'Lato', sans-serif;
}

.banner-call {
    margin-top: 60px;
    a {
    
    color: white;
    border: 2px solid $color-blue;
    padding: 15px 50px;
    background: $color-blue;
 
    box-shadow: 0px 0px 8px white;
    font-family: 'Lato', sans-serif;
    transition: 0.9s ease-in-out;
    &:hover {
        text-decoration: none;
        background-color: white;
        color: $color-blue
    }
}
}
// Services section

.services-container {
    color: $color-blue;
    padding: 20px 40px;
   
}

.services-card {
    
    padding: 40px;
    min-height: 300px;
    
    position: relative;
    img {
        height: 50px;
        margin-bottom: 20px;
        
    } 
}

.services-text {
    
    padding: 20px;
    text-align: center;
    h2 {
        font-size: 25px;
        padding: 20px O O;
        font-family: 'Lato', sans-serif;
 
    } p {
        margin: 0;
        padding: 20px;
        
    } img {
        position: absolute;
        top: 20px ;
        right: 25px;
    }
}


.services-photo img {
    height: 300px;
}
.img-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-blue {
    background: $bleu;
}
.bg-vert {
    background: $vert;
    color: white;
}
.service-line {
    border: 1px solid $color-blue;
}
// Projets Section

.projets-container {
    
    padding: 20px 40px;
    height: auto;
}

.projets-header h1 {
    color: $color-blue;
}

.projets-card {
    padding: 15px;
    background: white;
    color: $color-blue;
    margin-bottom: 20px;
}
.projet-image {
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 7px 8px #b5aeae;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projets-header-card {

    h1 {
        font-size: 16px;
        margin: 0;
        font-family: 'Lato', sans-serif;
        padding: 30px;
        color: white;
        background-color: $color-blue;
        transition: 0.5s ease-in-out;
    } h1:hover {
        color: $color-blue;
        background: white;
        border: 2px solid $color-blue;
        letter-spacing: 2px;
    }
}

.modal-title {
    font-family: 'Lato', sans-serif;
    padding-left: 30px;
}
.no-border  {
    border: none;
}
.visite-btn {
    display: flex;  
    justify-content: center;
    align-items: center;
    a {
        color: white;
        background-color: $color-blue;
        padding: 15px 30px;
        border: 2px solid $color-blue;
        letter-spacing: 2px;
        font-family: 'Lato', sans-serif;
        transition: 0.9s ease-in-out;
    } a:hover {
        text-decoration: none;
        color: $color-blue;
        background-color: white;
    }
}

.projets-photo {
    background-position: center;
    background-size: cover;
    height: 250px;
    margin: 30px;
}

.projets-text {
    padding: 0 30px 0;
    h1 {
        font-size: 30px;
    }
    span {
        font-size: 20px;
        color: $color-yel;
    } p{
        font-family: 'Lato', sans-serif;
    }
}

.close {
    color: $color-blue !important;
    font-size: 40px;
}
// Contact Section

.contact-container {
    color: $color-blue;
    padding:  0 40px;
}

.contact-info {
    padding: 50px;
    ul {
        padding: 0;
    }
    ul > li {
        list-style: none;
        margin: 0;
        padding: 10px 0;
        font-size: 20Px;

        font-family: 'Lato', sans-serif;
    } li > img {
        height: 20px;
        padding-right: 20px;
    } li > a {
        color: $color-blue;
    } h1 {
        margin-bottom: 50px;
    }
}

.contact-form {
    padding: 50px;
    label {
        font-size: 20px;
        font-family: 'Lato', sans-serif;
    } h1 {
        margin-bottom: 50px;
    }
}

  input.contact-input {
    border: 2px solid $color-blue;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 30px;

}

textarea.contact-input {
    border: 2px solid $color-blue;
    width: 100%;
    margin-bottom: 30px;
    padding: 15px 30px;
    
}

.contact-form-btn {
    text-align: center;
    button[type='submit'] {
        color: white;
        font-size: 20px;
        padding: 15px 20px;
        font-family: 'Lato', sans-serif;
        width: 100%;
        
        background: $color-blue;
        border: 2px solid $color-blue;
        transition: 0.9s ease-in-out;
    } a:hover {
        color: $color-blue;
        background-color: #ffffff;
        text-decoration: none;

    }
}

// Message css

.alert-warning {
    background-color: $color-blue ;
    color: white ;
    font-family: 'Lato', sans-serif ;
    border: none ;
    padding: 15px;
    border-radius :none ;
}


// Footer Section

.footer-container {
    height: auto;
    background-color: $color-blue;
    padding: 80px;
}

.footer {

    align-items: center;
    height: auto;
    flex-wrap: wrap;
}

.footer-presentation {
    width: 50%;
    p {
        font-family: 'Lato', sans-serif;
    } span > a {
        color: #51d3bd;
    } span {
        color: #51d3bd;
    }
}
.footer-links {
    width: 30%;
    img {
        height: 100Px;
    }
}
.footer-copyright {
    background-color: black;
    h2 {
        font-size: 20px;
        padding: 15px 0;
        margin: 0;
    }
}


// Media Queries

@media screen and (max-width: 650px) {
    .navbar-container {
        padding: 15px;
    }

    .banner-text {
        padding: 30px 0;
        order: 2;
    }
    .banner-bg img {
        height: 300px;
        order: 1;
    }
    .banner-paragraphe h4 {
        font-size: 20px;
    }

    .banner-home {
        padding: 0 15px;
    }

    .banner-call {
        text-align: center;
    }

    .banner-impact h1 {
        font-size: 31px;
    }

    .services-container {
        padding: 20px 0;
    }

    .services-card {
        padding: 40px 40px 0;
    }
    .services-text {
        padding: 10px 20px;
    }

    .projets-container {
        padding: 20px 0;
    }

    .projets-text {
        padding: 0;
    }
    
    .contact-container {
        padding: 0;
    }

    .contact-info {
        padding:  15px;
        
    }

    .contact-form {
        padding: 15px;
        order: 1;
    }
    
    .footer-container {
        padding: 20px;
    }
    .footer-presentation {
        width: 100%;
    }

    .footer-links{
       display: none;
    }

    .footer-copyright h2 {
        font-size: 14px;
    }
}