@import 'variables';
@import 'navbar';
@import 'home';
@import 'modal';



body {
    background-color: white;
    color: white;
    font-family: 'Nueva';
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@font-face {
    font-family: 'Nueva';
    src: local('Nueva'),
    url('../fonts/NuevaStd-Regular.otf') format('opentype');
    font-display: swap;
}
